body {
  margin: 0;
  font-family: Arial;
}

.landing {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 200px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}
